@model IEnumerable<ASPMVCCrud.Models.Task>

@{
    ViewBag.Title = "Task Details";
}

<h3 class="text-danger">@TempData["ErrorMsg"]</h3>
<div >
    @using (@Html.BeginForm("Search", "Task", FormMethod.Get))
    {
        <input id="search" class="col-8 form-control" name="searchTitle" placeholder="Search By Title" style="display:inline-block;" />
        <input type="submit" class="col-3 form-control btn btn-outline-secondary" style="display:inline-block;vertical-align:top;min-width:fit-content" value="search" />
    }
</div>
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<hr />
<div class="col-12 border p-3" style="max-height:400px;overflow: auto">
    <table class="table table-striped table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Priority</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>
                        <span>@task.Name</span>
                    </td>
                    <td>
                        <span>@task.Description</span>
                    </td>
                    <td>
                        <span>@task.Status </span>
                    </td>
                    <td>
                        <span>@task.Priority</span>
                    </td>
                    <td>
                        <span>
                            <a asp-controller="task" asp-action="Edit" asp-route-id=" @task.Id"
                               class="btn btn-primary m-1">Edit</a>
                            <a asp-controller="task" asp-action="Delete" asp-route-id="@task.Id"
                               class="btn btn-primary m-1">Delete</a>
                        </span>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

